.cart-icon{
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 40px;
    
}

.contenedor-carrito{
    background-color: #ffffff;
    width: 10%;
    height: 150px;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.carrito{
    height: 75px;
    width: 127px;
    color: white;
    background-color: #009254;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
}

span{
    margin-right: 36px;
}