.descriptionButton{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    background: white;
    border: 1px solid green;
}

.addText{
    color: black;
    text-decoration: none;
    
}


